<div class="api-container">
    <div class="api-cards-wrapper">
        <div class="page-title">
            <span class="title">API Projects</span>
        </div>
        <mat-card class="weather-card api-card">
            <mat-card-title>
                <span class="weather-city">{{weatherCity}}</span>
            </mat-card-title>
            <mat-card-content>
                <span class="weather-temp">{{weatherTemp}}<sup *ngIf="weatherTemp != ''">°F</sup></span>
                <img height="75px" width="75px" *ngIf="weatherTemp != ''" src="{{weatherIcon}}"/>
            </mat-card-content>
            <mat-card-footer>
                <span class="weather-type">{{weatherType}}</span>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
