.toolbar {
    position: absolute;
    background-color: 	rgb(0, 57, 138);
    height: 60px;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
}
.name-title {
    vertical-align: middle;
    padding-left: 25px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
nav {
    align-self: flex-end;
    height:100%;
    margin-top:20px;
}
.mat-tab-list{
    height:100%;
    align-self: flex-end;
}

.mat-tab-link{
    height:60px;
    color: white;
}