.toolbar {
    position: absolute;
    background-color: 	rgba(63, 120, 200, .40);
    height: 60px;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
}
.name-title {
    vertical-align: middle;
    padding-left: 25px;
    font-size: 30px;
    font-weight: 700;
    color: var(--accent-color);
}

.mat-tab-label{
    color:black;
    font-weight: 500;
}