<div class="home-container">
    <div class="home-information">
        <div class="home-information-welcome">
            <span>Hello! I'm Rayven!</span>
        </div>
        <div class="home-information-text">
            <span>
                Here's a little about me: <br/>
                I am currently enrolled in Texas Tech University as a Junior in Computer Science.
                 I'm aspiring to be a software engineer, and work in Artificial Intelligence, 
                 Machine Learning, and Neural Networks. I hope to create products that better the 
                 lives of all, and create various open source software for all to use.
            </span>
        </div>
        <div class="home-information-picture">
            <img src="../../../assets/img/home/picture1.jpg"/>
        </div>
    </div>
    <div class="programming-languages">
        <span class="languages-title">Programming Languages</span>
        <mat-card>
            <mat-card-title>Java</mat-card-title>
            <mat-card-content>
                <img src="../../../assets/img/home/prog_languages/java_icon.png" />
            </mat-card-content>
            <mat-card-footer>
                <mat-slider disabled [style] [min]='0' [max]='10' [value]='test'></mat-slider>
            </mat-card-footer>
        </mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>
    </div>
</div>
