<div class="projects-page">
    <div class="projects-wrapper">
        <div class="projects-title">
            <span class="title">Other Projects</span>
        </div>
        <mat-tab-group>
            <mat-tab label="Cell Simulation"><app-cell-simulation></app-cell-simulation></mat-tab>
            <mat-tab label="Dice Game"><app-dice-game></app-dice-game></mat-tab>
            <mat-tab label="Healthcare"><app-healthcare></app-healthcare></mat-tab>
            
        </mat-tab-group>           
    </div>
</div>
