<div class="projects-page">
    <div class="projects-wrapper">
        <div class="projects-title">
            <span class="title">Projects</span>
        </div>
        <div class="no-project-selected">
            <mat-expansion-panel  *ngFor="let p of projects; index as i" (opened)="panelOpened(i)">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{p.name}}</mat-panel-title>
                    <mat-panel-description>{{p.language}}</mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </div>
    </div>
</div>

