@import 'src/assets/data/project-component.scss';

.uml{
    grid-column: 1 / -1;
    padding-top: 10px;
    display:flex;
    justify-content: center;

    img{
        height: 500px;
    }

}
.video{
    padding-top:10px;
    grid-column: 1 / -1;
    display: grid;
    gap: 10px;

    .video-title{
        font-size: 25px;
        font-weight: 550;
        border-bottom: 1px dotted black;
    }

    .video-player{
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }
}