@import 'src/assets/data/project-component.scss';

:host-context(.desktop){

    .uml{
        grid-column: 1 / -1;
        padding-top: 10px;
        display:flex;
        justify-content: center;
    
        img{
            height: 500px;
        }
    
    }
    .video{
        padding-top:10px;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        .video-title{
            font-size: 25px;
            font-weight: 550;
            border-bottom: 1px dotted black;
        }
    
        .video-player{
            height:45vw;
            width:100%;
            display: flex;
            justify-content: center;
            iframe{
                margin: 0 auto;
            }
        }
    }
}

:host-context(.mobile){
    .uml{
        grid-column: 1 / -1;
        padding-top: 10px;
        display:flex;
        justify-content: center;
    
        img{
            width:80vw;
        }
    
    }
    .video{
        padding-top:10px;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        .video-title{
            font-size: 25px;
            font-weight: 550;
            border-bottom: 1px dotted black;
        }
    
        .video-player{
            height:45vw;
            width:100%;
            display: flex;
            justify-content: center;
            iframe{
                margin: 0 auto;
            }
        }
    }
}
