<div class="project-container">
    <div class="project-title">Cell Simulation</div>
    <div class="project-summary"> 
        Language:<span class="project-summary-language">  Python</span><br>
        <br>
        The cell simulation is a program that simulates a colony of cells 
        growth and deaths. It compares each cell with their neighbors to determine
        if the cell will die or be alive in the next step, doing 
        this to every cell for 100 steps.This program makes use of multiprocessing to handle the arrays, and
        it was tested with 10,000 x 10,000 array size, only taking less than
        20 minutes with 36 processes. 
    </div>
    <div class="project-img">
        <img src="assets/img/projects/CellSim.png"/>
    </div>
    <div class="more-info">
        <span class="more-info-title">Rules</span>
        <div class="rules">
            <div class="rules-summary">
                <p>
                    Each cell has two states:<br>
                    <code>
                    &nbsp;&nbsp;O : Alive <br>
                    &nbsp;&nbsp;. : Dead
                    </code>
                </p>
                
                <p>A cell's state in the next step will be determined by its neighbors and it's current state:</p>
                <ul>
                    <li>If the cell is alive and has 2 - 4 alive neighbors, it will stay alive in the next step.</li>
                    <li>If the cell is dead and there is an even number >0 of alive neighbors, it will become alive in the next step.</li>
                    <li>Otherwise, the cell becomes or stays dead.</li>
                </ul>
            </div>
            <div class="rules-summary-2">
                <p>
                    A cell's neighbors are as follows:<br>
                    <code>
                           _ _ _ _ _  &nbsp;&nbsp; C N _ _ N <br>
                           _ N N N _  &nbsp;&nbsp; N N _ _ N <br>
                           _ N C N _  &nbsp;&nbsp; _ _ _ _ _ <br>
                           _ N N N _  &nbsp;&nbsp; _ _ _ _ _ <br>
                           _ _ _ _ _  &nbsp;&nbsp; N N _ _ N <br>
                    </code>
                </p>
            </div>
        </div>
</div>


