.loading-component{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .spinning-letter{
        display: block;
        font-size:80px;
        line-height: 90px;
        font-weight: 900;
        
        #loading-first-name {
            stroke: black;
            stroke-dasharray: 1231;
            stroke-dashoffset: 1231;
            animation: writing 2s ease infinite;    
            stroke-width: 5px;        
        }
    }

    .loading-text{
        display: block;
        font-size:30px;
        font-weight: 500;
    }
    .loading-text::after{
        content: "";
        animation: dots 4s infinite;
    }
}

@keyframes writing {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes dots{
    25%{
        content: ".";
    }
    50%{
        content: "..";
    }
    75%{
        content: "...";
    }

}