/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #00BCD4;
    --accent-color: #B0BEC5;
    --warm-color: rgb(0, 57, 138);
    --background-color: #fff;
    --text-color: #000;
}

:root body.dark{
    --background-color: #525252;
    --primary-color: #3d3c3c;
    --warm-color: #272727;
    --text-color: #fff;
}

html, body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: hidden;
    height: 100vh;
    background-color: black;
}


html, body.desktop { 
    overflow:hidden;
}

html, body.mobile{
    overflow:auto;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.5);
}
